<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Maison Project</title>

    <!-- Link Style -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="##.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto|Overpass" rel="stylesheet"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
    <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand"><img class="logo" src="/public/images/Maison.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarmaison" aria-controls="navbarmaison" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarmaison">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" id="first">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="second">Ongoing</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" id="third">Products</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" id="fourth">Order Now</a>
            </li>
          </ul>
        </div>
      </nav>
        <div class="container">
            <div class="home">
                <p class="cap">“LIFE WAS LIKE A BOX OF CHOCOLATES, YOU NEVER KNOW WHAT YOU’RE GONNA GET.”</p>
                <p class="desc">Deriving from this principle, we embarked on a journey to present you a 
                selection of chocolates with 8 diverse flavors. Grab our box of chocolate and celebrate every 
                different aspects of life.</p>
                <a class="btn btn-md btn-light" href="/public/image/Maison.png">Pre-Order Now</a>
            </div>
            <div class="about">
                <div class="projlogo">
                    <img src="/public/images/Maison.png" alt="" class="logomid">
                </div>
                <div>
                    <p class="projdes"> Hello </p>
                    <p class="projinfo">To know more about our project, you can send enquiries to: maisonproject@gmail.com or +601151137273 </p>
                </div>
        </div>
        <div class="ongoing">
                <p class="logon">ongoing</p>
                <p class="capon">CELEBRATE YOUR VALENTINE’S DAY WITH US!</p>
                <ul class="deson">
                        <li id="deson"> Buy a box of chocolate and you can get a personalised Valentine’s card for<power>free!</power></li>
                        <li> Pre-Order:<power>1-10 February</power> (Online)</li>
                        <li> Pick-Up:<power>12-14 February</power> (UCSI South WIng - Block A)</li>
                        <li id="prion"> Price:<power>RM 10</power>/box </li>
                </ul>
        </div>

        <div class="product">
            <p class="procap">the flavours</p>
            <div class="row text-center">
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img scr="">
                        <div class="caption">
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img scr="">
                        <div class="caption">
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img scr="">
                        <div class="caption">
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img scr="">
                        <div class="caption">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img scr="">
                        <div class="caption">
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img scr="">
                        <div class="caption">
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img scr="">
                        <div class="caption">
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img scr="">
                        <div class="caption">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>        
